.wp-playlist-caption {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.wp-playlist-current-item {
  .wp-playlist-item-artist,
  .wp-playlist-item-title {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.wp-playlist-item-album {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.mejs-container {
  clear: both;

  background: #222222;
  * {
    font-family: Helvetica,Arial;
  }
  .mejs-controls {
    background: #222222;
  }
}

.mejs-embed {
  background: #222222;
  body {
    background: #222222;
  }
}

.mejs-controls {
  a.mejs-horizontal-volume-slider {
    display: table;
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #ffffff;
  }
  .mejs-time-rail {
    .mejs-time-loaded {
      background: #ffffff;
    }
    .mejs-time-current {
      background: #0073aa;
    }
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
  .mejs-time-rail .mejs-time-total {
    background: rgba(255, 255, 255, .33);
  }
  .mejs-horizontal-volume-slider {
    .mejs-horizontal-volume-current,
    .mejs-horizontal-volume-total {
      border-radius: 0;
    }
  }
  .mejs-time-rail span {
    border-radius: 0;
  }
}

.mejs-overlay-loading {
  background: 0 0;
}

.mejs-controls button:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.me-cannotplay {
  width: auto !important;
}

.media-embed-details .wp-audio-shortcode {
  display: inline-block;

  max-width: 400px;
}

.audio-details .embed-media-settings {
  overflow: visible;
}

.media-embed-details {
  .embed-media-settings {
    top: 28px;

    padding-top: 0;
    .setting span {
      width: auto;
      max-width: 400px;
    }
    .checkbox-setting span {
      display: inline-block;
    }
  }
  .instructions {
    max-width: 600px;
    padding: 16px 0;
  }
  .setting {
    .remove-setting,
    p {
      font-size: 10px;

      text-decoration: none;
      text-transform: uppercase;

      color: #aa0000;
    }
    .remove-setting {
      padding: 0;
    }
    a:hover {
      color: red;
    }
  }
  .embed-media-settings .checkbox-setting {
    float: none;

    margin: 0 0 10px;
  }
}

.wp-video {
  max-width: 100%;
  height: auto;
}

.wp_attachment_holder {
  .wp-audio-shortcode,
  .wp-video {
    margin-top: 18px;
  }
}

.wp-video-shortcode video,
video.wp-video-shortcode {
  display: inline-block;

  max-width: 100%;
}

.video-details .wp-video-holder {
  width: 100%;
  max-width: 640px;
}

.wp-playlist {
  font-size: 14px;
  line-height: 1.5;

  margin: 12px 0 18px;
  padding: 10px;

  border: 1px solid #cccccc;
}

.wp-admin .wp-playlist {
  margin: 0 0 18px;
}

.wp-playlist {
  video {
    display: inline-block;

    max-width: 100%;
  }
  audio {
    display: none;

    width: 400px;
    max-width: 100%;
  }
}

.wp-playlist-caption,
.wp-playlist-item-meta {
  font-size: 14px;
  line-height: 1.5;

  display: block;
}

.wp-playlist {
  .mejs-container {
    width: 100%;
    margin: 0;
  }
  .mejs-controls .mejs-button button {
    outline: 0;
  }
}

.wp-playlist-light {
  color: #000000;
  background: #ffffff;
}

.wp-playlist-dark {
  color: #ffffff;
  background: #000000;
}

.wp-playlist-caption {
  max-width: 88%;
}

.wp-playlist-item .wp-playlist-caption {
  max-width: -webkit-calc(100% - 40px);
  max-width:         calc(100% - 40px);

  text-decoration: none;

  color: #000000;
}

.wp-playlist-item-title {
  font-size: 14px;
  line-height: 1.5;
}

.wp-playlist-item-album {
  font-style: italic;
}

.wp-playlist-item-artist {
  font-size: 12px;

  text-transform: uppercase;
}

.wp-playlist-item-length {
  font-size: 14px;
  line-height: 1.5;

  position: absolute;
  top: 0;
  right: 3px;
}

.rtl .wp-playlist-item-length {
  right: auto;
  left: 3px;
}

.wp-playlist-tracks {
  margin-top: 10px;
}

.wp-playlist-item {
  position: relative;

  padding: 0 3px;

  cursor: pointer;

  border-bottom: 1px solid #cccccc;
  &:last-child {
    border-bottom: 0;
  }
}

.wp-playlist-light .wp-playlist-caption {
  color: #333333;
}

.wp-playlist-dark .wp-playlist-caption {
  color: #dddddd;
}

.wp-playlist-playing {
  font-weight: 700;

  background: #f7f7f7;
}

.wp-playlist-light .wp-playlist-playing {
  color: #000000;
  background: #ffffff;
}

.wp-playlist-dark .wp-playlist-playing {
  color: #ffffff;
  background: #000000;
}

.wp-playlist-current-item {
  overflow: hidden;

  height: 60px;
  margin-bottom: 10px;
}

.wp-playlist .wp-playlist-current-item img {
  float: left;

  max-width: 60px;
  height: auto;
  margin-right: 10px;
  padding: 0;

  border: 0;
}

.rtl .wp-playlist .wp-playlist-current-item img {
  float: right;

  margin-right: 0;
  margin-left: 10px;
}

.wp-audio-playlist .me-cannotplay span {
  padding: 5px 15px;
}
