
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0b7f33d602d0e305dc32a7625c3c7c50
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress